www.shagaemfabrika.ru {
    redir https://shagaemfabrika.ru{uri} permanent
}

shagaemfabrika.ru {
    encode zstd gzip

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "same-origin"
    }

    reverse_proxy 127.0.0.1:3000
}

www.shagaem-vmeste.ru {
    redir https://shagaemfabrika.ru{uri} permanent
}

shagaem-vmeste.ru {
    redir https://shagaemfabrika.ru{uri} permanent
}

sewing.161-104-33-59.sslip.io {
    redir https://shagaemfabrika.ru{uri} permanent
}
